.firstbox, .secondbox, .thirdbox, .textcard, .choixmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn, .btn-explorer, .btn-nav, .btn-menu, .t1, .t2, .t3, .t4, .t5, .footer, .new {
  font-family: "Roboto", sans-serif;
}

.tspecial {
  font-family: "Shrikhand", cursive;
}

.header, .geolocalisation, .circle, .row, .btn-nav, .subcard, .rowfooter, .btn-menu, .hoverprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header, .geolocalisation, .firstbox, .secondbox, .circle, .row, .btn-nav, .thirdbox, .subcard, .rowfooter, .btn-menu, .hoverprice {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-0 {
  margin: 0%;
}

.m-1 {
  margin: 1%;
}

.m-2 {
  margin: 2%;
}

.m-3 {
  margin: 3%;
}

.m-4 {
  margin: 4%;
}

.m-5 {
  margin: 5%;
}

.m-6 {
  margin: 6%;
}

.m-7 {
  margin: 7%;
}

.m-8 {
  margin: 8%;
}

.m-9 {
  margin: 9%;
}

.m-10 {
  margin: 10%;
}

.w-0 {
  width: 0%;
}

.w-1 {
  width: 10%;
}

.w-2 {
  width: 20%;
}

.w-3 {
  width: 30%;
}

.w-4 {
  width: 40%;
}

.w-5 {
  width: 50%;
}

.w-6 {
  width: 60%;
}

.w-7 {
  width: 70%;
}

.w-8 {
  width: 80%;
}

.w-9 {
  width: 90%;
}

.w-10 {
  width: 100%;
}

.header, .geolocalisation, .circle, .row, .body, .menubox, .hoverprice {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstbox, .circle {
  text-align: center;
}

.btn, .btn-explorer, .btn-nav, .btn-menu {
  border-radius: 20px;
  border-width: 0;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 20px #c2c0c0;
          box-shadow: 0px 5px 20px #c2c0c0;
}

.card {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px #999;
          box-shadow: 0px 5px 20px #999;
  background-color: #ffffff;
  height: 250px;
  width: 90%;
  min-width: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  -o-object-fit: contain;
     object-fit: contain;
}

.geolocalisation {
  background-color: #eeecec;
  font-family: "Roboto", sans-serif;
  height: 50px;
  font-weight: bolder;
}

.firstbox {
  background-color: #f7f5f5;
  margin-bottom: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.t1 {
  font-size: 2em;
  font-weight: bold;
}

.t2 {
  font-size: 1.8em;
  font-weight: bold;
}

.t3 {
  font-size: 1.2em;
  font-weight: lighter;
  margin-top: auto;
  margin-bottom: auto;
}

.t4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.t5 {
  font-size: 1.2em;
  margin-top: auto;
  margin-bottom: auto;
}

.tspecial {
  font-size: 1.5em;
}

.btn-explorer {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  height: 40px;
}

.btn-explorer:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  -webkit-box-shadow: 0px 5px 20px #747373;
          box-shadow: 0px 5px 20px #747373;
  color: #f2f2f2;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  margin-right: -15px;
  position: relative;
  color: white;
}

.btn-nav {
  padding-left: 40px;
  background-color: #f7f5f5;
  height: 60px;
  margin: 10px 5px 10px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.btn-nav:hover {
  background-color: #e4d5f7;
  -webkit-box-shadow: 0px 5px 20px #747373;
          box-shadow: 0px 5px 20px #747373;
}

.btn-nav:hover .fa-mobile-alt {
  color: #9356DC;
}

.btn-nav:hover .fa-list {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #9356DC;
}

.btn-nav:hover .fa-store {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #9356DC;
}

.card {
  padding-bottom: 1%;
}

.imgcard {
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.subcard {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
  height: auto;
}

.textcard {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 2%;
}

.fa-heart {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.fa-heart:hover {
  color: #FF79DA;
}

.footer {
  background-color: #353232;
  color: white;
  padding-top: 2%;
}

.rowfooter {
  margin: 2% 2% 2% 5%;
}

.new {
  position: absolute;
  height: 30px;
  background-color: #99E2D0;
  margin-left: 65%;
  margin-top: 3%;
  color: #0b571c;
  border-radius: 5px;
  padding: 1%;
}

.navback {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-right: 10%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.body {
  background-color: #f7f5f5;
  width: 100%;
  margin-top: -20%;
  border-radius: 20px 20px 0 0;
  padding-bottom: 20px;
}

.btn-menu {
  padding: 0 0 0 4%;
}

.btn-menu:hover {
  background-color: #f7f5f5;
}

.choixmenu {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menubox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hoverprice {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: right;
          transform-origin: right;
  border-radius: 0px 12px 12px 0px;
  height: 100%;
  margin: 0;
  width: 120px;
  color: #eeecec;
  background-color: #99dda8;
  z-index: 1;
}

.hoverprice:hover {
  -webkit-animation-name: hoverprice;
          animation-name: hoverprice;
}

@-webkit-keyframes hoverprice {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes hoverprice {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.validate {
  position: absolute;
  margin-left: 80%;
}
/*# sourceMappingURL=main.css.map */